!!! 5
%html
  %head
    %title OwO Team
    %script(src="https://kit.fontawesome.com/5ccbea5c98.js" crossorigin="anonymous")
    %link(rel="stylesheet" href="css/styles.css")
  %body
    %script{:src => "js/functions.min.js"}
    #header
      %h1#name OwO Teams
      %button{:onClick => "newTeam()"} New Team

    %noscript Sorry, this website needs javascript to work! It doesn't send any of your data to anyone. If you don't trust this message, you can look at the source code @ https://github.com/justnaa/owoteam Love, juliette

    #teams
    
    %br
    #footer
      %p Made with love by Juliette
      %p<
        "
        %a{:href => "https://github.com/ChristopherBThai/Discord-OwO-Bot"}> OwO Bot
        " by
        %a{:href => "https://github.com/ChristopherBThai"} Christopher Thai 
        is licensed under
        %a{:href => "https://creativecommons.org/licenses/by-nc-sa/4.0/"} CC BY-BC-SA 4.0.
      %a(href="https://github.com/justnaa/owoTeam")Source

    %script{:src => "js/index.min.js"}
    %script main();
